<%- include header %>
<form method="post">
  Title：<br />
  <input type="text" name="title" value="<%= post.title %>" disabled="disabled" /><br />
  Tags：<br />
  <input type="text" name="tag1" value="<%= post.tags[0] %>" disabled="disabled" /><br>
  <input type="text" name="tag2" value="<%= post.tags[1] %>" disabled="disabled" /><br>
  <input type="text" name="tag3" value="<%= post.tags[2] %>" disabled="disabled" /><br />
  Text：<br />
  <textarea name="post" rows="20" cols="100" class="span11"><%= post.post %></textarea><br />
  <input class="btn" type="submit" value="Save" />
</form>
<%- include footer %>